##Q23.국영수 30/20min:FAIL

In [ ]:
n=12
data = ['Junkyu 50 60 100',
'Sangkeun 80 60 50',
'Sunyoung 80 70 100',
'Soong 50 60 90',
'Haebin 50 60 100',
'Kangsoo 60 80 100',
'Donghyuk 80 60 100',
'Sei 70 70 70',
'Wonseob 70 70 90',
'Sanghyun 70 70 80',
'nsj 80 80 80',
'Taewhan 50 60 90']

len(data)

12

In [ ]:
print(data[0].split(' ')[0])

Junkyu

In [ ]:
student = []

for i in range(n):
    temp = data[i].split(' ')
    student.append([temp[0],int(temp[1]),int(temp[2]),int(temp[3])])
print(student)

[['Junkyu', 50, 60, 100], ['Sangkeun', 80, 60, 50], ['Sunyoung', 80, 70, 100], ['Soong', 50, 60, 90], ['Haebin', 50, 60, 100], ['Kangsoo', 60, 80, 100], ['Donghyuk', 80, 60, 100], ['Sei', 70, 70, 70], ['Wonseob', 70, 70, 90], ['Sanghyun', 70, 70, 80], ['nsj', 80, 80, 80], ['Taewhan', 50, 60, 90]]

In [ ]:
kor = sorted(student, key=lambda x:x[1], reverse=True)
print(kor)
result = []

eng = [kor[0]]
for i in range(1,n):
    if kor[i][1]==eng[0][1]:
        eng.append(kor[i])
    else:
        eng = sorted(eng, key=lambda x:x[2])
        result+=eng
        eng = [kor[i]]

eng = sorted(eng, key=lambda x:x[2])
result+=eng
print(result)


result2 = []
math = [result[0]]
for i in range(1,n):
    if result[i][1:3]==math[0][1:3]:
        math.append(result[i])
    else:
        math = sorted(math, key=lambda x:x[3], reverse=True)
        result2+=math
        math = [result[i]]

math = sorted(math, key=lambda x:x[3], reverse=True)
result2+=math
print(result2)

for i in range(n):
    print(result2[i][0])

[['Sangkeun', 80, 60, 50], ['Sunyoung', 80, 70, 100], ['Donghyuk', 80, 60, 100], ['nsj', 80, 80, 80], ['Sei', 70, 70, 70], ['Wonseob', 70, 70, 90], ['Sanghyun', 70, 70, 80], ['Kangsoo', 60, 80, 100], ['Junkyu', 50, 60, 100], ['Soong', 50, 60, 90], ['Haebin', 50, 60, 100], ['Taewhan', 50, 60, 90]]
[['Sangkeun', 80, 60, 50], ['Donghyuk', 80, 60, 100], ['Sunyoung', 80, 70, 100], ['nsj', 80, 80, 80], ['Sei', 70, 70, 70], ['Wonseob', 70, 70, 90], ['Sanghyun', 70, 70, 80], ['Kangsoo', 60, 80, 100], ['Junkyu', 50, 60, 100], ['Soong', 50, 60, 90], ['Haebin', 50, 60, 100], ['Taewhan', 50, 60, 90]]
[['Donghyuk', 80, 60, 100], ['Sangkeun', 80, 60, 50], ['Sunyoung', 80, 70, 100], ['nsj', 80, 80, 80], ['Wonseob', 70, 70, 90], ['Sanghyun', 70, 70, 80], ['Sei', 70, 70, 70], ['Kangsoo', 60, 80, 100], ['Junkyu', 50, 60, 100], ['Haebin', 50, 60, 100], ['Soong', 50, 60, 90], ['Taewhan', 50, 60, 90]]
Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Junkyu
Haebin
Soong
Taewhan

##Q24.안테나 15/20min:PASS

In [ ]:
n=4
data= list(map(int,'5 1 7 9'.split(' ')))
print(data)

[5, 1, 7, 9]

In [ ]:
data.sort()
#0>>0, 4>>1, 5>>2
idx = (n-1)//2
print(data[idx])

5

##Q25.실패율 20/20min:PASS

In [ ]:
n=5
stages=[2,1,2,6,2,4,3,3]

def get_fail(s):
    user=0
    for i in stages:
        if i>=s:
            user+=1
    if user==0:
        return 0
    else:
        fail=stages.count(s)/user
        return fail

fail_list=[]
for i in range(1,n+1):
    fail = get_fail(i)
    fail_list.append([i,fail])

print(fail_list)
fail_sort = sorted(fail_list, key=lambda x:x[1], reverse=True)
result = [f[0] for f in fail_sort]
print(result)

[[1, 0.125], [2, 0.42857142857142855], [3, 0.5], [4, 0.5], [5, 0.0]]
[3, 4, 2, 1, 5]

##Q26.카드 정렬하기 15/30min:PASS

In [ ]:
n=4
# data=[10,20,40]
data=[10,40,50,20]
data.sort()
print(data)

count = (data[0]+data[1])*(n-1)
for i in range(2,n):
    count+=data[i]*(n-i)

print(count)

[10, 20, 40, 50]
220